<!DOCTYPE html >
<html lang="en" xmlns:th=" https://www.thymeleaf.org">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Cargar Juegos</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <!-- style css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <!-- Responsive-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}"/>
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{css/jquery.mCustomScrollbar.min.css}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.theme.default.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css}" media="screen"/>

</head>
<!-- body -->

<body class="main-layout">
  
    <!-- header -->
    <header>
        <div th:replace="fragments :: header"></div>
    </header>
        <div class="container">
            <form th:action="@{/juegos/guardar}" method="post" th:object="${juego}">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="string" class="form-control" th:field="*{nombre}" aria-describedby="emailHelp" placeholder="Ingrese nombre del juego" name="nombre">
                </div>
                <div class="form-group">
                    <label>Genero</label>
                    <input type="string" class="form-control" th:field="*{genero}" aria-describedby="emailHelp" placeholder="Ingrese Genero del juego" name="genero">
                </div>
                <div class="form-group">
                    <label>url de Imagen</label>
                    <input type="string" class="form-control" th:field="*{urlImagen}" aria-describedby="emailHelp" placeholder="url de imagen" name="urlImagen">
                </div>
                <div class="form-group">
                    <label>Precio</label>
                    <input type="number" class="form-control" th:field="*{precio}" aria-describedby="emailHelp" placeholder="Precio" name="precio">

                <button type="submit" class="btn btn-primary">Cargar Juego</button>
            </form>
        </div>
        <!--Fin Formulario de registro-->

        <!-- footer -->
        <footer th:replace="fragments :: footer"></footer>
        <!-- end footer -->
        <!-- Javascript files-->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery-3.0.0.min.js"></script>
        <script src="js/plugin.js"></script>
        <!-- sidebar -->
        <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="js/custom.js"></script>
        <!-- javascript -->
        <script src="js/owl.carousel.js"></script>
        <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
        <script>
            $(document).ready(function() {
                $(".fancybox").fancybox({
                    openEffect: "none",
                    closeEffect: "none"
                });

                $(".zoom").hover(function() {

                    $(this).addClass('transition');
                }, function() {

                    $(this).removeClass('transition');
                });
            });
        </script>
</body>

</html>